/* 
Global
 */

* {
  block-size: border-box;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.full-size {
  width: 100%;
}
.flex {
  flex: 1;
}
/* 
header
 */

.header {
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #62346f;
}

.header .logo-nav {
  margin-left: 31px;
  width: 50%
}

.header .logo-nav .nav-flex ul {
  margin-left: 67px;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header .logo-nav .nav-flex li {
  padding: 0 10px 0 10px;
}

.header .logo-nav .nav-flex li a {
  padding: 0 10px 0 10px;
  color: #fff;
}

.header .logo-nav .nav-flex a:hover {
  border: 3px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  color: #62346f;
}

.header .media-search {
  justify-content: flex-end;
  width: 50%;
  margin-right: 30px;
}

.header .media-search button {
  border: none;
  background-color: transparent;
  margin: 0 10px 0 10px;
}

/* Main news */

.row-main-news {
  display: flex;
  align-items: flex-start;
  border: solid #ff00ff;
}

.row-main-news .column1 {
  flex: 3.29 1 auto;
  padding: 20px 10px 20px 32px;
  height: 100%;
}

.row-main-news .column2 {
  flex: 1 1 auto;
  padding: 20px 10px 20px 10px;
  height: 100%;
}

.row-main-news .column3 {
  display: flex;
  flex-flow: column nowrap;
  flex: 2.14 1 auto;
  padding-top:10px;

}

.row-main-news .column3 .article-others {
  padding: 10px 33px 10px 10px;
}

.align {
  margin-bottom: -10px;
}

/* current&ppopular news */

.article-current,
.article-popular {
  padding: 10px 10px 10px 10px;
}
